@keyframes dropdown-enter {
  0% {
    opacity:0;
    transform: scale(0.95);
  }
  100% {
    opacity: 1;
    transform: scale(1)
  }
}

.animated_dropdown {
  animation: dropdown-enter 0.15s ease-in-out forwards;
}
